[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docker-compose = "*"
pylint = "*"

[packages]
django = "*"
pyaml = "*"
plumbum = "*"

[requires]
python_version = "3.5"
